---
layout: null
---

{% include base_path %}

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    <div id="main" class="landing">
      <div class="home-box">
        <a href="{{ '/about/' | relative_url }}" target="_self"><img src="/images/avatar.png" alt="avatarpic"></a>
          <div classs="home-box-text">
              <h1>Hi, it's Wing!</h1>
          </div>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
